@charset "UTF-8";

.container_home{
    background-color: rgb(230, 230, 230);
    margin: 10px 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.container_title_home{
    padding-top: 40px;
}
