@charset "UTF-8";

nav{
    text-align: center;
    height: 20vh;
    background-color: #015958;
    border-radius: 0 0 10px 10px;
}

.container_nav{
    width: 70vw;
    margin: auto;
}

.container_title{
    padding-top: 20px;
}
.container_title h1{
    color: white;
    text-shadow: 4px 5px 2px black;
}

.container_span{
    display: flex;
}

span{
    color: white;
    cursor: pointer;
}

menu{
    display: none;
}

li{
    margin: 4px;
    border: 1px solid white;
    list-style-type: none;
    color: white;
    padding: 4px;
}

li:hover{
    box-shadow: 0 0 3px 2px black;
}